body{
    width:95vh;
    height: 80vh;
    font-family: "poppins";
    color:black;


}
#header{
    z-index: 11;
    position: absolute;
    width: 99%;
    height:2.3vw;
    background-color: white;
    border-bottom: 3px solid whitesmoke;
    padding-left: 0vw;
    margin-left: 0;
}

#header>a{
    z-index: 12;
    margin-left: 3vw;
    margin-right: 3vw;
    text-decoration: none;
    color: #000;
}
#header>a:hover{
    text-decoration: underline;
}
#header>a:active{
    color: blue;
}


#k{
    margin-left: 15vw;
    margin-right: 20vw;
    font-weight:normal;
    color: black;
}
#liliane{
    font-weight: normal;

    color: blue;

}

#contact-me-button{
 /*   display: inline;
    width: 5vw;
    height: 2vw;
    background-color: blue;
    color: white;
    border: 1px solid black;
    z-index: 15;*/

    color: black;
    background-color: whitesmoke;
    font-weight: bold;

}

#content{
   padding-top: 2.4vw;
    position: relative;
    display: flex;
    width: 97.8vw;


}

#text{
    margin-left: 5%;
    margin-top: 15%;
    width:40%;
    height: 100%;
    align-content: center;


}
#text>p{
    font-weight: normal;
    font-size: 2vw;
    text-align: left;
}

#images{

    margin-right:0;
    width: 70%;
    height: 100%;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}
#images>div{
    width:30%;
    height:30vh;
   /* border: 1px solid black;*/
    position: relative;

}
#apercu{
    margin-right:0;
    width: 70%;
    height: 80%;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}
#apercu>div{
    width:100%;
    height:30vh;
    /* border: 1px solid black;*/
    position: relative;
}#text-content{
     margin-right:0;
     width: 70%;

     align-items:center;
     justify-content: center;
     flex-wrap: wrap;
     font-family: "poppins";
    font-style: normal;
    font-weight: normal;
     align-items: center;
    justify-content: center;

    padding-right: 2.5vw;
    padding-left: 2.5vw;
    padding-bottom: 0;



 }
#about-me{
    /*background-image: url("images/lilibg.jpg");
    background-size: cover;*/
    color: white;
    text-align: center;
    height: 30vw;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    padding-bottom: 0;
    padding-top: 7vw;
    font-size: large;
}
#react{
    z-index: 7;
    padding-top: 7%;
    padding-left: 13%;
    margin-bottom: 3vw;
}
#laravel{
    z-index: 6;
    padding-top: 15%;
    padding-right: 20%;
    margin-top: -27vw;
    padding-left: 30vw;
}
#node{
    z-index: 8;
    padding-top: 25%;
    padding-right: 30%;
    margin-top: -18vw;
    padding-left: 20vw;
}
#html{
    z-index: 5;
    margin-top: -8vw;
    padding-top: 5%;
    padding-left: 13%;
}
#php{
    z-index: 7;
    padding-top: 15%;
    padding-right: 0%;
    margin-top: -37vw;
    padding-left: 39vw;
}
#mysql{
    z-index: 5;
    padding-left: 27vw;
    margin-top: -4vw;
}
#css{
    z-index: 4;
    padding-left: 20vw;
    margin-top: -3vw;
}
#bulma{
    z-index:4;
    padding-left: 20vw;
    margin-top: -15vw;
}
#js{
    z-index: 4;
    padding-left: 38vw;
    margin-top: -5vw;
}

#web-dev{
    font-family: "poppins";
    text-align: left;
    font-size: 3vw;
    font-weight: bold;
}
#option{
    font-family: "poppins";
    text-align: left;
    font-size: 3vw;
    font-weight: bold;
    margin-top: -3vw;
}
#slogan{
    margin-top: -2vw;
}
#get-started>a{
    text-decoration: none;
    color: white;
}
#get-started{
    width: 15vw;
    height: 2.5vw;
    font-size: 2vw;
    background-color: blue;
    border-radius: 10px;
    font-family: poppins;
    font-weight: bold;
    text-align: center;
    margin-top: 10%;


}

.title{

    height:2.3vw;
    background-color: white;
    border-bottom: 5px solid whitesmoke;
    width: 100%;
    font-weight: bold;

}
.illustrations{
    display: flex;
    flex-wrap: wrap;
    width:60vw;
    height:13vw;
}


.app{
    position: relative;
    /*border: 1px solid black;*/
    height:10vw;
    box-shadow: 5px 5px 5px 7px rgba(0,0,255,.5);
    paddind:10px 10px 10px 10px;
    margin-left:5vw;
    margin-right: 5vw;
    margin-top: 1vw;

    blur:0.5px;
    width: 10vw;
    display: inline-block;


}
.description{
    margin-top: -0.5vw;
    padding-top: 0vw;
    font-size: small;
    z-index: 16;
}
.name>a{
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
.art{
    position: relative;
    /*border: 1px solid black;*/
    height:10vw;
    box-shadow: 5px 5px 5px 5px rgba(0,0,255,.5);
    paddind:10px 10px 10px 10px;
    margin-left:5vw;
    margin-right: 5vw;
    margin-top: 1vw;

    blur:0.5px;
    width: 10vw;
    display: inline-block;
}
.interface{
    position: relative;
    /*border: 1px solid black;*/
    height:10vw;
    box-shadow: 5px 5px 5px 5px rgba(0,0,255,.5);
    paddind:10px 10px 10px 10px;
    margin-left:5vw;
    margin-right: 5vw;
    margin-top: 1vw;

    blur:0.5px;
    width: 10vw;
    display: inline-block;
}


#message{

    border: 1px solid black;
    box-shadow:5px 5px lightblue;
    width:30vw;
    height:15vw;
    justify-content: center;
    margin-top: 6vw;
    margin-left: 15vw;

}
#message>p{
    font-weight: bold;
    font-size: xx-large;
    color: black;
    text-align: center;
}
#message>p:nth-child(2){
    font-weight: bold;
    font-size: small;
    color: black;
    text-align: center;
}
#message>p>span{
    font-weight: normal;
    font-size: small;
    color: blue;
    text-align: center;
}
#footer{
    padding-bottom: 0vw;
    margin-bottom: 0vw;
}
#form{
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
    padding-top: 5vw;
    margin-left: 3vw;
}
#text-aside{
    margin-top: -9vw;
    margin-left: 30vw;
}
input{
    border-style: none;
    border-bottom: 2px solid black;
    width:20vw;
    padding-top: 1vw;
    padding-bottom: 5px;
}
